{% extends 'usercenter-base.html' %}
{% block title %}お気に入り- RakuManaOnline{% endblock %}
{% load static %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">トップページ</a>></li>
                <li><a href="{% url 'users:info' %}">マイページ</a>></li>
                <li>お気に入り</li>
            </ul>
        </div>
    </section>
{% endblock %}
    <script>
        $.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
    })
    </script>
{% block right_form %}
    <div class="right" >
            <div class="personal_des Releasecont">
                <div class="head">
                    <h1>お気に入り</h1>
                </div>
            </div>
            <div class="personal_des permessage">
                <div class="head">
                    <ul class="tab_header messagehead">
                        <li><a href="{% url 'users:myfavorg'%}">教育機関</a> </li>
                        <li class="active"><a href="{% url 'users:myfav_teacher'%}">講師 </a></li>
                        <li><a href="{% url 'users:myfav_course'%}">コース</a></li>
                    </ul>
                </div>
                <div class="messagelist">
                    {% for teacher in teacher_list %}
                    <div class=" butler_list butler-fav-box">
                        <dl class="des users">
                            <dt>
                                <a href="{% url 'org:teacher_detail' teacher.id %}">
                                    <img width="100" height="100" src="{{ teacher.image.url}}"/>
                                </a>
                            </dt>
                            <dd>
                                <h1>
                                    <a href="{% url 'org:teacher_detail' teacher.id %}">
                                        {{ teacher.name }}<span class="key">認定講師</span>
                                    </a>
                                </h1>
                                <ul class="cont clearfix">
                                    <li class="time">勤務年数：<span>{{ teacher.work_years }}年</span></li>
                                    <li class="c7">　　コース数：<span>{{ teacher.course_set.all.count }}</span></li>
                                </ul>
                                <ul class="cont clearfix">
                                    <li class="time">就職会社：<span>{{ teacher.work_company }}</span></li>
                                    <li class="c7">　　ポジション：<span>{{ teacher.work_position }}</span></li>
                                </ul>
                            </dd>
                            <div class="delete jsDeleteFav_teacher" data-favid="{{ teacher.id }}"></div>
                        </dl>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
    $('.jsDeleteFav_teacher').on('click', function () {
            var _this = $(this),
                favid = _this.attr('data-favid');
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'op:fav' %}",
                data: {
                    fav_type: 3,
                    fav_id: favid,
                    csrfmiddlewaretoken: '{{csrf_token}}'
                },
                async: true,
                success: function (data) {
                    Dml.fun.winReload();
                }
            });
        });
</script>
{% endblock %}


